Flask
flask-cors
numpy
opencv-python
tensorflow
keras
joblib
urllib3
scikit-learn
h5py
langchain
langchain-core 
langchain-community
deep_translator
protobuf==6.31.1
langchain-google-genai
google-generativeai
pymongo 
pandas 
openpyxl 
reportlab